@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-background: rgb(0, 0, 0);
	--color-primary: #EA580C;
	--card-background: #FFF;
	--darkmode-text-color: #FFF;
	--background-head: rgb(31, 41, 55);
	--card-border-radius: .5rem;
	--transition: all .3s ease-in;
	
	--rounded-full: 9999px;
	
	color: var(--darkmode-text-color);
}

* {
	box-sizing: border-box;
	min-width: 0;
}

body {
	min-height: 100dvh;
	background: var(--dark-background);
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

