@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: rgb(0, 0, 0);
	--card-background: #FFF;
	--normal-text-color: #FFF;
	--background-head: rgb(31, 41, 55);
	--card-border-radius: .5rem;
	--card-transition: transform .3s ease-in;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--normal-text-color);
}

body {
	background: var(--background);
}


